<template>
  <div>
      <h1>My Page</h1>
      <h3>{{ name }}</h3>
      <img src="../assets/monet.jpg" alt="">
  </div>
</template>
<script>
export default {
  props: ['name']
}
</script>
<style></style>
