<template>
  <div
    @click="clickCell"
    :class="{
      cell: true,
      cellX: player === 'X',
      cellO: player === 'O',
      grade: grade
    }"
  >
    {{ player }}
  </div>
</template>
<script>
export default {
  props: ['player', 'row', 'col', 'grade'], // props send value OXTable to OXCell
  methods: {
    clickCell (event) {
      // console.log(event)
      // console.log('click' + ' ' + this.row + ' ' + this.col)
      if (this.player !== '-') return
      this.$emit('cell-click', this.row, this.col) // emit send value back to OXTable
    }
  }
}
</script>
<style>
.cell {
  font-size: 30pt;
}
.cellX {
  color: rgb(153, 204, 255);
}
.cellO {
  color: rgb(255, 153, 153);
}
.grade {
  background-color: rgb(255, 255, 153);
}
</style>
